@model List<OnlineTicariOtomasyon.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Ürünler</h3>
<br />
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <p>
        Ürün Adı :  @Html.TextBox("search")
        <input type="submit" value="Ara" />
    </p>
}
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FIYAT</th>
        <th>SATIŞ FIYAT</th>
        <th>KATEGORİ</th>
        <th>RESİM</th>
        <th>İŞLEMLER</th>
        <th>SATIŞ YAP</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Brand</td>
            <td>@item.Stock</td>
            <td>@item.PurchasePrice ₺</td>
            <td>@item.SalePrice ₺</td>
            <td>@item.Category.CategoryName</td>
            <td>
                <a><img src="@item.ImageUrl" alt="Image" class="img-fluid" style="width:100px;height:100px"></a>
            </td>
            <td>
                <a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a>
                <a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-info">Güncelle</a>
            </td>
            <td><a href="/Product/MakeSale/@item.ProductId" class="btn btn-default" style="background-color:chocolate">Satış Yap</a></td>
        </tr>
    }
</table>
<a href="/Product/AddProduct" class="btn btn-primary">Yeni Ürün</a>