@model List<OnlineTicariOtomasyon.Models.Sales>
@{
    ViewBag.Title = "DetailCurrent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Cari Satış Detayları</h3>
<br />

<table class="table table-striped">
    <tr>
        <th>Satış ID</th>
        <th>Personel</th>
        <th>Ürün</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.SalesId</th>
            <td>@item.Employee.Name @item.Employee.Surname</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Custom</td>
            <td>@item.TotalAmount</td>
            <td>@item.Date</td>
        </tr>
    }

</table>

