@model List<OnlineTicariOtomasyon.Models.Employee>
@{
    ViewBag.Title = "DetailDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Departman Detay</h3>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Departman : @ViewBag.Ad</li>

</ol>
<table class="table table-bordered table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Resim</th>
        <th>Satışlar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.EmployeeId</th>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td><a><img src="@item.ImageUrl" alt="Image" class="img-fluid" style="width:100px;height:100px"></a></td>
            <td>
                <a href="/Department/DepartmentSales/@item.EmployeeId" class="btn btn-default" style="background-color:navajowhite">Satışlar</a>
            </td>
        </tr>
    }
</table>