@model OnlineTicariOtomasyon.Models.InvoiceItem
@{
    ViewBag.Title = "AddInvoiceItem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h3>Fatura Kalemi Ekleme</h3>
<br />
<form method="post">
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Miktar</label>
    @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
    <br />
    <label>Birim Fiyat</label>
    @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control" })
    <br />
    <label>Tutar</label>
    @Html.TextBoxFor(x => x.TotalAmount, new { @class = "form-control" })
    <br />
    <label>Fatura ID</label>
    @Html.TextBoxFor(x => x.InvoiceId, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Kaydet</button>
</form>


